<!DOCTYPE html>
<html>
<head>
    <title><%- page %> | Scrux-ember</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.0.1/css/bootstrap.min.css" />
    <%- css('app.styl') %>
</head>

<body>
    <div id="app" class="container">
        <%- include layout/nav %>
        <%- body %>
    </div>
    <div class="container">
        <footer>
            <%- include layout/footer %>
        </footer>
    </div>
    <%- js('global.coffee') %>
</body>
</html>